*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0e0e0e;
    display: flex;
    justify-content: center;
}

h1{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    color: #e0e0e0;
    font-size: 60px;
    margin: 16px;
    padding: 16px;
    justify-self: center;
    align-self: center;
}

div#squareGrid{
    display: grid;
    max-width: 960px;
    max-height: 960px;
    justify-content: center;
    grid-template-columns: repeat(16, 16px);
    grid-template-rows: repeat(16, 16px);
    row-gap: 0px;
    column-gap: 0px;
}

.gameGrids{
    display: flex;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
}